<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>并箱</title>
    <link rel="stylesheet" type="text/css" href="../assets/reset.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="bx" class="all" v-cloak>
        <h1 @click="showHelp =true">并箱 [{{userName}}] <sup>?</sup></h1>
        <div class="box">
            <div class="row"><span class="problem three_em">汇总箱</span><input @focus="hideVK" v-model="xh1" ref="xh1"
                    @keyup="xh1=xh1.toUpperCase()" @keyup.enter="checkXh1" />
            </div>
            <div class="row"><span class="problem three_em">拿出箱</span><input @focus="hideVK($event,1)" v-model="xh2"
                    ref="xh2" @keyup="xh2=xh2.toUpperCase()" @keyup.enter="checkXh2" />
            </div>
        </div>
        <!-- 等待 -->
        <div class="loading_bg" v-show="loading">
            <div class="loading">
                <p>{{loadingMsg}}<span> 。。。</span></p>
            </div>
        </div>
        <!-- 说明文档 -->
        <div class="page_bg" v-show="showHelp" @click="showHelp=false"></div>
        <div class="page_box explain_box" v-show="showHelp">
            <ul>
                <li v-for="(list,i) in helpJson" :key="i">
                    <h3 class="help_h3" v-if="list.isTitle" v-html="list.msg"></h3>
                    <span class="help_span" v-if="!list.isTitle" v-html="list.msg"></span>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="../assets/vue.js"></script>
<script src="../assets/common.js"></script>
<script src="../assets/axios.min.js"></script>
<script>
    var app = new Vue({
        el: '#bx',
        data: {
            loading: false,
            loadingMsg: "请稍等",
            userName: "",
            showHelp: false,
            helpJson: null,
            xh1: "",
            xh2: "",
            hasCheckXh1: "",
        },
        async mounted() {
            this.userName = await getUserData();
            this.$refs.xh1.focus();
            this.helpJson = await getHelp("fy/bx.json");
        },
        methods: {
            // 检查箱号1
            checkXh1() {
                if (!this.xh1) { alert("请输入完整汇总箱"); return }
                this.loading = true;
                let url = `${myConfig.api}fy/bx/checkbox1?storage=STORAGE_ZMC&user=${this.userName}&box=${this.xh1}`
                axios.get(url).then((res) => {
                    this.loading = false;
                    if (res.data.errcode != 0) {
                        alert(`汇总箱${this.xh1}:${res.data.errmsg}`);
                        this.xh1 = "";
                        return;
                    }
                    this.hasCheckXh1 = true;
                    this.$refs.xh2.focus();
                }).catch((err) => {
                    this.loading = false;
                    alert(err);
                })
            },
            // 检查拿出箱
            checkXh2() {
                if (!this.hasCheckXh1) { alert("请先检查汇总箱"); this.xh2 = ""; return }
                if (!this.xh2) { alert("请输入完整拿出箱"); return }
                this.loading = true;
                let url = `${myConfig.api}fy/bx/checkbox2?storage=STORAGE_ZMC&user=${this.userName}&box=${this.xh1}&box2=${this.xh2}`
                axios.get(url).then((res) => {
                    if (res.data.errcode != 0) {
                        this.loading = false;
                        alert(res.data.errmsg);
                        this.xh2 = "";
                        return;
                    }
                    this.loadingMsg = res.data.errmsg;
                    setTimeout(() => {
                        this.reset();
                    }, 1500);
                }).catch((err) => {
                    this.loading = false;
                    alert(err);
                })
            },
            reset() {
                this.xh1 = "";
                this.xh2 = "";
                this.hasCheckXh1 = "";
                this.loadingMsg = "请稍等";
                this.loading = false;
                this.$refs.xh1.focus();
            },
            hideVK(e, index) {
                if (index) { setCursor(index) };
                e.target.setAttribute('readonly', true);
                setTimeout(() => {
                    e.target.removeAttribute('readonly');
                }, 100);
            }
        }
    })
</script>

</html>