<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>库位托盘绑定</title>
    <link rel="stylesheet" type="text/css" href="../assets/reset.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="tpxbd" class="all" v-cloak>
        <h1 @click="showHelp =true">库位托盘绑定 [{{userName}}] <sup>?</sup></h1>
        <div class="box">
            <div class="row"><span class="problem three_em">库位</span><input @focus="hideVK" v-model="kw" ref="kw"
                    @keyup="kw=kw.toUpperCase()" @keyup.enter="checkKw" />
            </div>
            <div class="row"><span class="problem three_em">货主</span><input @focus="hideVK" v-model="hz" readonly
                    class="no_inp" />
            </div>
            <div class="row"><span class="problem three_em">箱数</span><input @focus="hideVK" v-model="xs" class="no_inp"
                    readonly />
            </div>
            <div class="row"><span class="problem three_em">托盘号</span><input @focus="hideVK($event,3)" v-model="tph" ref="tph"
                    @keyup="tph=tph.toUpperCase()" @keyup.enter="checkTph" />
            </div>
            <!-- <div class="row"><span class="problem three_em">在途:</span><input @focus="hideVK" v-model="zt" readonly
                    class="no_inp" />
            </div> -->
        </div>
        <!-- 等待 -->
        <div class="loading_bg" v-show="loading">
            <div class="loading">
                <p>{{loadingMsg}}<span> 。。。</span></p>
            </div>
        </div>
        <!-- 说明文档 -->
        <div class="page_bg" v-show="showHelp" @click="showHelp=false"></div>
        <div class="page_box explain_box" v-show="showHelp">
            <ul>
                <li v-for="(list,i) in helpJson" :key="i">
                    <h3 class="help_h3" v-if="list.isTitle" v-html="list.msg"></h3>
                    <span class="help_span" v-if="!list.isTitle" v-html="list.msg"></span>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="../assets/vue.js"></script>
<script src="../assets/common.js"></script>
<script src="../assets/axios.min.js"></script>
<script>
    var app = new Vue({
        el: '#tpxbd',
        data: {
            loading: false,
            loadingMsg: "请稍等",
            userName: "",
            kw: "",
            hz: "",
            xs: "",
            tph: "",
            zt: "",
            hasCheckKw: false,
            showHelp: false,
            helpJson: null
        },
        async mounted() {
            this.userName = await getUserData();
            this.helpJson = await getHelp("tpx/kwtpbd.json");
            this.$refs.kw.focus();
        },
        methods: {
            // 库位回车
            checkKw() {
                if (!this.kw) return;
                this.loading = true;
                let url = `${myConfig.api}tpx/kwtpbd/checkkw?storage=STORAGE_ZMC&user=${this.userName}&kw=${this.kw}`
                axios.get(url).then((res) => {
                    this.loading = false;
                    if (res.data.errcode != 0) {
                        alert(`库位:${this.kw}:${res.data.errmsg}`);
                        this.kw = "";
                        return;
                    }
                    this.hz = res.data.data.STORERKEY;
                    this.xs = res.data.data.XS;
                    this.hasCheckKw = true;
                    this.$refs.tph.focus();
                }).catch((err) => {
                    this.loading = false;
                    alert(err);
                })
            },
            // 检查托盘号
            checkTph() {
                if (!this.hasCheckKw) { alert("请先检查库位~"); return };
                this.loading = true;
                let url = `${myConfig.api}tpx/kwtpbd/checktp?storage=STORAGE_ZMC&user=${this.userName}&tpcode=${this.tph}`
                axios.get(url).then((res) => {
                    if (res.data.errcode != 0) {
                        this.loading = false;
                        alert(`托盘号:${this.tph}:${res.data.errmsg}`);
                        this.tph = "";
                        return;
                    }
                    let sureUrl = `${myConfig.api}tpx/kwtpbd/done?storage=STORAGE_ZMC&user=${this.userName}&tpcode=${this.tph}&kw=${this.kw}`
                    axios.get(sureUrl).then((res) => {
                        if (res.data.errcode != 0) {
                            this.loading = false;
                            alert(res.data.errmsg);
                            return;
                        }
                        this.loadingMsg = res.data.errmsg;
                        setTimeout(() => {
                            this.reset();
                        }, 1500);
                    }).catch((err) => {
                        this.loading = false;
                        alert(err);
                    })
                }).catch((err) => {
                    this.loading = false;
                    alert(err);
                })
            },
            reset() {
                this.loading = false;
                this.loadingMsg = "请稍等";
                this.userName = "张三三";
                this.kw = "";
                this.hz = "";
                this.xs = "";
                this.tph = "";
                this.zt = "";
                this.hasCheckKw = false;
                this.$refs.kw.focus();
            },
            hideVK(e, index) {
                if (index) { setCursor(index) };
                e.target.setAttribute('readonly', true);
                setTimeout(() => {
                    e.target.removeAttribute('readonly');
                }, 100);
            }
        }
    })
</script>

</html>