<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>LPN移动</title>
    <link rel="stylesheet" type="text/css" href="../assets/reset.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <!-- 库位，托盘类型，托盘号，数量，箱号 -->
    <div id="tpxbd" class="all" v-cloak>
        <h1 @click="showHelp =true">LPN移动 [{{userName}}] <sup>?</sup></h1>
        <div class="box">
            <div class="row"><span class="problem two_em">库位</span><input @focus="hideVK" v-model="kw" ref="kw"
                    @keyup="kw=kw.toUpperCase()" @keyup.enter="checkKw" />
            </div>
            <div class="row"><span class="problem two_em">箱号</span><input @focus="hideVK($event,1)" v-model="xh"
                    ref="xh" @keyup="xh=xh.toUpperCase()" @keyup.enter="checkXh" />
            </div>
        </div>
        <!-- 等待 -->
        <div class="loading_bg" v-show="loading">
            <div class="loading">
                <p>{{loadingMsg}}<span> 。。。</span></p>
            </div>
        </div>
        <!-- 说明文档 -->
        <div class="page_bg" v-show="showHelp" @click="showHelp=false"></div>
        <div class="page_box explain_box" v-show="showHelp">
            <ul>
                <li v-for="(list,i) in helpJson" :key="i">
                    <h3 class="help_h3" v-if="list.isTitle" v-html="list.msg"></h3>
                    <span class="help_span" v-if="!list.isTitle" v-html="list.msg"></span>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="../assets/vue.js"></script>
<script src="../assets/common.js"></script>
<script src="../assets/axios.min.js"></script>
<script>
    var app = new Vue({
        el: '#tpxbd',
        data: {
            loading: false,
            loadingMsg: "请稍等",
            userName: "",
            kw: "",
            xh: "",//箱号
            hasCheckKw: false,
            showHelp: false,
            helpJson: null
        },
        async mounted() {
            this.userName = await getUserData();
            this.$refs.kw.focus();
            this.helpJson = await getHelp("tpx/LPNyd.json");
        },
        methods: {
            // 检查库位
            checkKw() {
                if (!this.kw) { alert("请输入完整库位信息~"); return };
                this.loading = true;
                let url = `${myConfig.api}tpx/lpnyd/checkkw?storage=STORAGE_ZMC&user=${this.userName}&kw=${this.kw}`
                axios.get(url).then((res) => {
                    this.loading = false;
                    if (res.data.errcode != 0) {
                        alert(`库位：${this.kw}:${res.data.errmsg}`);
                        this.kw = "";
                        return;
                    }
                    this.hasCheckKw = true;
                    this.$refs.xh.focus();
                }).catch((err) => {
                    this.loading = false;
                    alert(err);
                })
            },
            // 检查箱号，并执行移动
            checkXh() {
                if (!this.hasCheckKw) { alert('请先检查库位~'); this.xh = ""; return };
                this.loading = true;
                let url = `${myConfig.api}tpx/lpnyd/checkbox?storage=STORAGE_ZMC&user=${this.userName}&kw=${this.kw}&box=${this.xh}`
                axios.get(url).then((res) => {
                    if (res.data.errcode != 0) {
                        this.loading = false;
                        alert(`箱号：${this.kw}:${res.data.errmsg}`);
                        this.xh = "";
                        return;
                    }
                    this.loadingMsg = res.data.errmsg;
                    setTimeout(() => {
                        this.reset();
                    }, 1500);
                }).catch((err) => {
                    this.loading = false;
                    alert(err);
                })
            },
            reset() {
                this.loading = false;
                this.loadingMsg = "请稍等";
                this.kw = "";
                this.xh = "";//箱号
                this.hasCheckKw = false;
                this.$refs.kw.focus();
            },
            hideVK(e, index) {
                if (index) { setCursor(index) };
                e.target.setAttribute('readonly', true);
                setTimeout(() => {
                    e.target.removeAttribute('readonly');
                }, 100);
            }
        }
    })
</script>

</html>