<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>托盘箱绑定</title>
    <link rel="stylesheet" type="text/css" href="../assets/reset.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <!-- 库位，托盘类型，托盘号，数量，箱号 -->
    <div id="tpxbd" class="all" v-cloak>
        <h1 @click="showHelp=true">托盘箱绑定 [{{userName}}] <sup>?</sup></h1>
        <div class="box">
            <div class="row"><span class="problem">库位</span><input @focus="hideVK" v-model="kw" ref="kw"
                    @keyup="kw=kw.toUpperCase()" @keyup.enter="checkKw" />
            </div>
            <div class="row"><span class="problem">托盘类型</span>
                <select v-model="tplx" class="tp_select">
                    <option :value="10">普通</option>
                    <option :value="20">鞋类</option>
                    <option :value="30">立库</option>
                    <option :value="40">其他</option>
                    <option :value="50">退货托盘</option>
                </select>
            </div>
            <div class="row"><span class="problem">托盘号</span><input @focus="hideVK($event,1)" v-model="tph" ref="tph"
                    @keyup="tph=tph.toUpperCase()" @keyup.enter="checkTph" />
            </div>
            <div class="row"><span class="problem">数量</span><input class="no_inp" v-model="sl" readonly></div>
            <div class="row"><span class="problem">箱号</span><input @focus="hideVK($event,3)" v-model="xh" ref="xh"
                    @keyup="xh=xh.toUpperCase()" @keyup.enter="checkXh">
            </div>
        </div>
        <!-- 等待 -->
        <div class="loading_bg" v-show="loading">
            <div class="loading">
                <p>{{loadingMsg}}<span> 。。。</span></p>
            </div>
        </div>
        <!-- 说明文档 -->
        <div class="page_bg" v-show="showHelp" @click="showHelp=false"></div>
        <div class="page_box explain_box" v-show="showHelp">
            <ul>
                <li v-for="(list,i) in helpJson" :key="i">
                    <h3 class="help_h3" v-if="list.isTitle" v-html="list.msg"></h3>
                    <span class="help_span" v-if="!list.isTitle" v-html="list.msg"></span>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="../assets/vue.js"></script>
<script src="../assets/common.js"></script>
<script src="../assets/axios.min.js"></script>
<script>
    var app = new Vue({
        el: '#tpxbd',
        data: {
            loading: false,
            loadingMsg: "请稍等",
            userName: "",
            kw: "",
            tplx: 10,
            tph: "",
            sl: "",//数量
            xh: "",//箱号
            hasCheckKw: false,
            hasCheckTph: false,
            hasCheckXh: false,
            showHelp: false,
            helpJson: null,
        },
        async mounted() {
            this.userName = await getUserData();
            this.$refs.kw.focus();
            this.helpJson = await getHelp("tpx/tpxbd.json");
        },
        methods: {
            // 库位回车
            checkKw() {
                if (!this.kw) return;
                this.loading = true;
                let url = `${myConfig.api}tpx/tpxbd/checkkw?storage=STORAGE_ZMC&user=${this.userName}&kw=${this.kw}`
                axios.get(url).then((res) => {
                    this.loading = false;
                    if (res.data.errcode != 0) {
                        alert(`库位：${this.kw}:${res.data.errmsg}`);
                        this.kw = "";
                        return;
                    }
                    this.hasCheckKw = true;
                    this.$refs.tph.focus();
                }).catch((err) => {
                    this.loading = false;
                    alert(err);
                })
            },
            // 检查托盘号
            checkTph() {
                if (!this.hasCheckKw) { alert('请先检查库位~'); return }
                if (!this.tph) { alert('请输入完整的tph'); return }
                this.loading = true;
                let url = `${myConfig.api}tpx/tpxbd/checktp?storage=STORAGE_ZMC&user=${this.userName}&kw=${this.kw}&tpcode=${this.tph}`
                axios.get(url).then((res) => {
                    this.loading = false;
                    if (res.data.errcode != 0) {
                        alert(`托盘号：${this.tph}:${res.data.errmsg}`);
                        this.tph = "";
                        return;
                    }
                    this.sl = res.data.data.PALLETSTATUS;
                    this.hasCheckTph = true;
                    this.$refs.xh.focus();
                }).catch((err) => {
                    this.loading = false;
                    alert(err);
                })
            },
            // 检查箱号，并且确认绑定
            checkXh() {
                if (!this.hasCheckKw) { alert('请先检查库位~'); return }
                if (!this.hasCheckTph) { alert('请输入完整的托盘号~'); return }
                this.loading = true;
                let url = `${myConfig.api}tpx/tpxbd/checkbox?storage=STORAGE_ZMC&user=${this.userName}&kw=${this.kw}&tpcode=${this.tph}&box=${this.xh}&tptype=${this.tplx}`
                axios.get(url).then((res) => {
                    if (res.data.errcode != 0) {
                        this.loading = false;
                        alert(`箱号：${this.xh}:${res.data.errmsg}`);
                        this.xh = "";
                        return;
                    }
                    this.hasCheckXh = true;
                    this.$refs.xh.blur();
                    this.sure();
                }).catch((err) => {
                    this.loading = false;
                    alert(err);
                })
            },
            // 确定绑定
            sure() {
                if (!this.hasCheckKw || !this.hasCheckTph || !this.hasCheckXh) {
                    alert('请按顺序检查[库位、托盘号、箱号]~');
                    return;
                }
                this.loading = true;
                let sureUrl = `${myConfig.api}tpx/tpxbd/done?storage=STORAGE_ZMC&user=${this.userName}&tpcode=${this.tph}&box=${this.xh}`
                axios.get(sureUrl).then((res) => {
                    if (res.data.errcode != 0) {
                        this.loading = false;
                        alert(res.data.errmsg);
                        return;
                    }
                    this.loadingMsg = res.data.errmsg;
                    setTimeout(() => {
                        this.reset();
                    }, 1500);
                }).catch((err) => {
                    this.loading = false;
                    alert(err);
                })
            },
            // 清空
            reset() {
                this.loading = false;
                this.loadingMsg = "请稍等";
                this.kw = "";
                this.tplx = 10;
                this.tph = "";
                this.sl = 0;//数量
                this.xh = "";//箱号
                this.hasCheckKw = false;
                this.hasCheckTph = false;
                this.hasCheckXh = false;
                this.$refs.kw.focus();
            },
            hideVK(e, index) {
                if (index) { setCursor(index) };
                e.target.setAttribute('readonly', true);
                setTimeout(() => {
                    e.target.removeAttribute('readonly');
                }, 100);
            }

        }
    })
</script>

</html>