<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>托盘上架</title>
    <link rel="stylesheet" type="text/css" href="../assets/reset.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="tpsj" class="all" v-cloak>
        <h1 @click="showHelp=true">托盘上架 [{{userName}}] <sup>?</sup></h1>
        <div class="box">
            <div class="row"><span class="problem">托盘号:</span><input v-model="tph" @keyup.enter="checkTP"
                    @focus="hideVK" ref="tph" @keyup="tph=tph.toUpperCase()" />
            </div>
            <div class="row"><span class="problem">自库位:</span><input class="no_inp" v-model="zkw" readonly /> </div>
            <div class="row"><span class="problem">箱数:</span><input class="no_inp" v-model="xs" readonly /> </div>
            <div class="row"><span class="problem">推荐库位:</span><input class="no_inp" v-model="tjkw" readonly /> </div>
            <div class="row"><span class="problem">至库位:</span><input v-model="tokw" ref="tokw" @focus="hideVK($event,4)"
                    @keyup.enter="checkSite" @keyup="tokw=tokw.toUpperCase()" /> </div>
            <div class="row"><span class="problem">验证码:</span><input v-model="yzm" @focus="hideVK($event,6)"
                    @keyup="yzm=yzm.toUpperCase()" ref="yzm" @keyup.enter="up" />
            </div>
        </div>
        <div class="btn_box" v-show="!hasHidden">
            <button @click="up" class="one_btn">托盘上架</button>
        </div>
        <div class="loading_bg" v-show="loading">
            <div class="loading">
                <p>{{loadingMsg}}<span> 。。。</span></p>
            </div>
        </div>
        <!-- 说明文档 -->
        <div class="page_bg" v-show="showHelp" @click="showHelp=false"></div>
        <div class="page_box explain_box" v-show="showHelp">
            <ul>
                <li v-for="(list,i) in helpJson" :key="i">
                    <h3 class="help_h3" v-if="list.isTitle" v-html="list.msg"></h3>
                    <span class="help_span" v-if="!list.isTitle" v-html="list.msg"></span>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="../assets/common.js"></script>
<script src="../assets/vue.js"></script>
<script src="../assets/axios.min.js"></script>
<script>
    var app = new Vue({
        el: '#tpsj',
        data: {
            bodyH: document.body.clientHeight,
            hasHidden: false,
            loading: false,
            userName: "",
            loadingMsg: "请稍等",
            tph: '',//托盘号
            zkw: "",//自库位
            xs: "",//箱数
            tjkw: "",//推荐库位
            tokw: "",//至库位
            yzm: "",//验证码
            hasCheckTokw: false,//是否检查至库位
            showHelp: false,
            helpJson: null
        },
        async mounted() {
            this.userName = await getUserData();
            this.$refs.tph.focus();
            this.helpJson = await getHelp("sj/tpsj.json");
            window.onresize = () => { this.hasHidden = document.body.clientHeight < this.bodyH ? true : false };
        },
        methods: {
            checkTP() {
                if (!this.tph) {
                    alert("请填写完整托盘号！");
                    return;
                }
                this.loading = true;
                let url = `${myConfig.api}sj/tpsj/checktp?storage=STORAGE_ZMC&tpcode=${this.tph}&user=${this.userName}`;
                let that = this;
                axios.get(url)
                    .then(function (res) {
                        that.loading = false;
                        if (res.data.errcode != 0) {
                            alert(res.data.errmsg);
                            that.xs = "";//箱号
                            that.tjkw = "";//推荐库位
                            that.zkw = "";//当前库位
                            return;
                        }
                        that.xs = res.data.data.boxnumber;//箱号
                        that.tjkw = res.data.data.recommendKw;//推荐库位
                        that.zkw = res.data.data.dqkw;//当前库位
                        that.$refs.tokw.focus();
                    })
                    .catch(function (error) {
                        that.loading = false;
                        alert(error);
                    });
            },
            // 检查至库位
            checkSite() {
                if (!this.tjkw || !this.xs || !this.zkw || !this.tokw) {
                    alert('信息不完整，不允许检查库位！');
                    return;
                }
                this.url = true;
                let url = `${myConfig.api}/sj/tpsj/checkkw?storage=STORAGE_ZMC&kw=${this.tokw}&tjkw=${this.tjkw}&user=${this.userName}`;
                let that = this;
                axios.get(url)
                    .then(function (res) {
                        that.loading = false;
                        if (res.data.errcode != 0) {
                            alert(`库位：${that.tokw}: ${res.data.errmsg}`);
                            that.tokw = "";
                            return;
                        }
                        that.$refs.yzm.focus();
                        that.hasCheckTokw = true;
                    })
                    .catch(function (error) {
                        that.loading = false;
                        alert(error);
                    });
            },
            // 托盘上架
            up() {
                if (!this.yzm || !this.tph || !this.tokw) {
                    alert('信息不完整，不允许上架！');
                    return;
                }
                if (!this.hasCheckTokw) {
                    alert('请先检查至库位~');
                    return;
                }
                this.url = true;
                let url = `${myConfig.api}/sj/tpsj/done?storage=STORAGE_ZMC&captcha=${this.yzm}&tpcode=${this.tph}&kw=${this.tokw}&user=${this.userName}`;
                let that = this;
                axios.get(url)
                    .then(function (res) {
                        that.loading = false;
                        if (res.data.errcode != 0) {
                            alert(`${that.yzm}: ${res.data.errmsg}`);
                            that.yzm = "";
                            return;
                        }
                        that.loadingMsg = res.data.errmsg;
                        that.loading = true;
                        setTimeout(() => {
                            that.loading = false;
                            that.loadingMsg = "请稍等";
                        }, 1200);
                        that.reset();
                    })
                    .catch(function (error) {
                        that.loading = false;
                        alert(error);
                    });
            },
            reset() {
                this.tph = "";
                this.zkw = "";
                this.xs = "";
                this.tjkw = "";
                this.tokw = "";
                this.yzm = "";
                this.hasCheckZkw = false;
                this.$refs.tph.focus();
            },
            // 隐藏键盘
            hideVK(e, index) {
                if (index) { setCursor(index) };
                e.target.setAttribute('readonly', true);
                setTimeout(() => {
                    e.target.removeAttribute('readonly');
                }, 100);
            }
        }
    })
</script>

</html>