<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>组车上架</title>
    <link rel="stylesheet" type="text/css" href="../assets/reset.css">
    <style>
        [v-cloak] {
            display: none;
        }

        .page_table_content,
        .page_no_list {
            height: calc(100% - 35px);
        }
    </style>
</head>

<body>
    <div id="zcsj" class="all" v-cloak>
        <h1 @click="showHelp=true">{{isFirst?'组车功能 ['+userName+']':'组车任务 ['+userName+']'}} <sup>?</sup></h1>
        <div class="box flex_box" v-show="isFirst">
            <div class="row row_small"><span class="problem two_em">箱号:</span><input v-model="xh" @focus="hideVK"
                    ref="xh" @keyup="xh=xh.toUpperCase()" @keyup.enter="checkTP" /> </div>
            <div class="row row_small"><span class="problem two_em">箱数:</span><input v-model="boxArr.length" readonly
                    class="no_inp" />
            </div>
            <div class="detail_page flex_deta">
                <div class="tab_title page_tab_title" v-show="!hasHidden">
                    <span style="width:3em">序号</span>
                    <span style="width:calc(100% - 8em)">箱号</span>
                    <span style="width:5em">操作</span>
                </div>
                <div class="no_list page_no_list" v-show="boxArr.length<1 && !hasHidden">扫描箱号才有数据哦~</div>
                <div class="table_content page_table_content" v-show="boxArr.length>0 && !hasHidden">
                    <div class="table_row" :style="{backgroundColor:i%2==0?'#FAFAFA':''}" v-for="(list,i) in boxArr"
                        :key="i">
                        <span style="width:3em">{{boxArr.length - i}}</span>
                        <span style="width:calc(100% - 8em)">{{list}}</span>
                        <span style="width:5em"><span class="remove_btn" @click="remove_box(i)">移除</span></span>
                    </div>
                </div>
            </div>
            <div class="btn_box" v-show="!hasHidden">
                <button @click="showUp" class="one_btn" v-show="isFirst">确认生成任务</button>
            </div>
        </div>

        <!-- 任务弹窗 -->
        <div class="box" v-show="!isFirst">
            <div class="row"><span class="problem">任务箱号:</span><input v-model="work.BOX" readonly class="no_inp" />
            </div>
            <div class="row"><span class="problem">推荐库位:</span><input v-model="work.KW" readonly class="no_inp" />
            </div>
            <div class="row"><span class="problem">剩余任务:</span><input v-model="workList.length - workIndex" readonly
                    class="two_inp no_inp" /><span class="problem two_em">数量:</span><input v-model="sl" readonly
                    class="two_inp no_inp" />
            </div>
            <div class="row">
                <span class="problem">容量:</span><input v-model="work.LOCATIONHANDLING" class="two_inp no_inp"
                    readonly />
                <span class="problem two_em">格号:</span><input v-model="work.GH" readonly class="two_inp no_inp" />
            </div>
            <div class="row"><span class="problem">箱号:</span><input v-model="xh2" @focus="hideVK" ref="xh2"
                    @keyup="xh2=xh2.toUpperCase()" @keyup.enter="checkBox" /> </div>
            <div class="row"><span class="problem">至库位:</span><input v-model="tokw" @focus="hideVK" ref="tokw"
                    @keyup="tokw=tokw.toUpperCase()" @keyup.enter="next" /> </div>
        </div>
        <div class="btn_box" v-show="!hasHidden">
            <button @click="jump" class="one_btn" v-show="!isFirst">跳过</button>
        </div>
        <div class="loading_bg" v-show="loading">
            <div class="loading">
                <p>{{loadingMsg}}<span> 。。。</span></p>
            </div>
        </div>
        <!-- 说明文档 -->
        <div class="page_bg" v-show="showHelp" @click="showHelp=false"></div>
        <div class="page_box explain_box" v-show="showHelp">
            <ul>
                <li v-for="(list,i) in helpJson" :key="i">
                    <h3 class="help_h3" v-if="list.isTitle" v-html="list.msg"></h3>
                    <span class="help_span" v-if="!list.isTitle" v-html="list.msg"></span>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="../assets/vue.js"></script>
<script src="../assets/common.js"></script>
<script src="../assets/axios.min.js"></script>
<script>
    var app = new Vue({
        el: '#zcsj',
        data: {
            bodyH: document.body.clientHeight,
            hasHidden: false,//是否展示表格，当软键盘弹出
            isFirst: true,//true展示箱数等信息，false展示的是弹出层组车任务
            xh: "",//箱号
            // 组装
            rl: 0,//容量
            sl: 1,//数量,为当前货箱中货品的总数量,写死，一直都是1
            xh2: "",//输入一遍当前箱号，判断是否一致
            tokw: "",//至库位
            loading: false,
            boxArr: [],//下发任务前需要发送给后端的箱号列表
            workList: [],//下发任务后，接口获取的任务列表
            work: {},//展示在界面上的任务
            workIndex: 0,//工作数组下标
            userName: "",//当前登录人员名称
            loadingMsg: "请稍等",
            showHelp: false,
            helpJson: null,
        },
        async mounted() {
            this.userName = await getUserData();
            this.$refs.xh.focus();
            window.onresize = () => { this.hasHidden = document.body.clientHeight < this.bodyH ? true : false };
            this.helpJson = await getHelp("sj/zcsj.json");
        },
        methods: {
            // 移除某箱号
            remove_box(index) {
                this.boxArr.splice(index, 1);
                this.$refs.xh.focus();
            },
            // 隐藏键盘
            hideVK(e) {
                e.target.setAttribute('readonly', true);
                setTimeout(() => {
                    e.target.removeAttribute('readonly');
                }, 100);
            },
            // 组车功能界面
            // 检查任务箱号
            checkTP() {
                if (!this.xh) {
                    alert('请检查箱号是否完整');
                    return;
                }
                if (this.boxArr.indexOf(this.xh) != -1) {
                    alert(this.xh + '重复添加~');
                    this.xh = "";
                    return;
                }
                this.loading = true;
                let url = `${myConfig.api}sj/zcsj/checkBox?storage=STORAGE_ZMC&box=${this.xh}&user=${this.userName}`;
                axios.get(url)
                    .then((res) => {
                        this.loading = false;
                        if (res.data.errcode != 0) {
                            alert("箱号" + this.xh + " : " + res.data.errmsg);
                            this.xh = "";
                            return;
                        }
                        this.boxArr.unshift(this.xh);
                        this.xh = "";
                    })
                    .catch((error) => {
                        this.loading = false;
                        alert(error);
                    });
            },
            // 确定生成任务，弹出小车上架界面
            showUp() {
                if (this.boxArr.length < 1) {
                    alert('箱数大于0才能生成任务');
                    return;
                }
                this.loading = true;
                let url = `${myConfig.api}sj/zcsj/missionlist?storage=STORAGE_ZMC&boxlist=${this.boxArr}&user=${this.userName}`;
                let that = this;
                axios.get(url)
                    .then(function (res) {
                        that.loading = false;
                        if (res.data.errcode != 0) {
                            alert(res.data.errmsg);
                            return;
                        }
                        if (res.data.data.length < 1) {
                            alert(`${that.boxArr}: 没有可以执行的任务`);
                            return;
                        }
                        that.$nextTick(() => {
                            that.$refs.xh2.focus();
                        });
                        that.workList = res.data.data;
                        that.work = res.data.data[that.workIndex];//先将第一个数据展示在页面上
                        that.isFirst = false;
                    })
                    .catch(function (error) {
                        that.loading = false;
                        alert(error);
                    });
            },
            // 输入箱号，判断是否跟当前任务箱号一致
            checkBox() {
                if (this.xh2 === this.work.BOX) {
                    this.$refs.tokw.focus();
                    return true;
                } else {
                    alert(`货箱${this.xh2}不为当前上架货箱`);
                    this.xh2 = "";
                    return false;
                }
            },
            //输入至库位，判断与当前任务的库位是否一致
            checkToKw() {
                if (this.tokw === this.work.KW) {
                    this.$refs.tokw.blur()
                    return true;
                } else {
                    alert(`库位${this.tokw}不为当前上架货箱的目标库位`);
                    this.tokw = "";
                    return false;
                }
            },
            // 跳过
            jump() {
                if (this.workIndex == this.workList.length - 1) {
                    alert('该任务已经是最后一个任务了');
                    return;
                }
                let r = confirm("是否把当前任务放到最后执行？");
                if (r == true) {
                    this.xh2 = "";
                    this.tokw = "";
                    this.workList.push(...this.workList.splice(this.workList.findIndex((el, i) => i === this.workIndex), 1))
                    this.work = this.workList[this.workIndex];
                    this.$refs.xh2.focus();
                }
            },
            // 下一个任务
            next() {
                if (!this.checkBox() || !this.checkToKw()) return;
                this.loading = true;
                let url = `${myConfig.api}sj/zcsj/comfirm?storage=STORAGE_ZMC&box=${this.work.BOX}&kw=${this.tokw}&carno=${this.work.CARNO}&user=${this.userName}`;
                axios.get(url)
                    .then((res) => {
                        this.loading = false;
                        if (res.data.errcode != 0) {
                            alert(res.data.errmsg);
                            return;
                        }
                        // 此处清除掉了弹窗提示移动成功
                        this.workIndex++;
                        if (this.workList.length <= this.workIndex) {
                            this.loadingMsg = res.data.errmsg;
                            this.loading = true;
                            setTimeout(() => {
                                this.returnPage();
                            }, 1700);
                        } else {
                            this.work = this.workList[this.workIndex];
                            this.xh2 = "";
                            this.tokw = "";
                            this.$refs.xh2.focus();
                        }
                    })
                    .catch((error) => {
                        this.loading = false;
                        alert(error);
                    });
            },
            // 返回功能组
            returnPage() {
                this.isFirst = true;
                this.boxArr = [];
                this.work = {
                    BOX: "",
                    GH: "",
                    LOCATIONHANDLING: 0
                };
                this.workIndex = 0;
                this.xh2 = "";//输入一遍当前箱号，判断是否一致
                this.tokw = "";//至库位
                this.loading = false;
                this.loadingMsg = "请稍等";
                this.$nextTick(() => {
                    this.$refs.xh.focus();
                })
            },
        }
    })
</script>

</html>