<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>按箱收货</title>
    <link rel="stylesheet" type="text/css" href="../assets/reset.css">
    <style>
        [v-cloak] {
            display: none;
        }

        .table_row>span {
            display: inline-block;
            word-break: break-word;
        }
    </style>
</head>

<body>
    <div id="axsh" class="all" v-cloak>
        <h1 @click="showHelp =true">按箱收货 [{{userName}}] <sup>?</sup></h1>
        <div class="box flex_box">
            <div class="row row_small"><span class="problem two_em">库位:</span><input v-model="kw"
                    :class="['two_inp',{no_inp:hasCheckKw}]" @keyup.enter="checkKw" @focus="hideVK" ref="kw"
                    @keyup="kw=kw.toUpperCase()" class="two_inp input_small" />
                <span class="problem three_em" @click="showList=true">箱号:</span><input v-model="xh"
                    @keyup.enter="checkXh" @focus="hideVK($event,1)" ref="xh" @keyup="xh=xh.toUpperCase()"
                    :class="['two_inp input_small',{no_inp:hasCheckXh}]" />
            </div>
            <div class="row row_small">
                <span class="problem two_em">条码:</span><input v-model="rfid" class="two_inp input_small" ref="rfid"
                    @keyup.enter="rfSave" @focus="hideVK($sevnt,2)" @keyup="rfid=rfid.toUpperCase()" />
                <span class="problem three_em">ASN号:</span><input v-model="info.ASN" class="two_inp no_inp input_small"
                    readonly ref="asn" />
            </div>
            <div class="detail_page">
                <div class="base_info">
                    <div class="info_item">
                        <p>货主</p>
                        <p>{{info.HZ || '未知'}}</p>
                    </div>
                    <div class="line"></div>
                    <div class="info_item">
                        <p>是否混箱</p>
                        <p :class="{red_em:info.MIXMARK==1}">{{info.MIXMARK=="1"?'是':'否'}}</p>
                    </div>
                    <div class="line"></div>
                    <div class="info_item">
                        <p>预收量</p>
                        <p>{{info.TOTALQTY>=0?info.TOTALQTY:"未知"}}</p>
                    </div>
                    <div class="line"></div>
                    <div class="info_item">
                        <p>实收量</p>
                        <p>{{rfList.length}}</p>
                    </div>
                </div>
                <div class="tab_title page_tab_title" v-show="!hasHidden">
                    <span style="width:3em">序号</span>
                    <span style="width:calc(100% - 8em)">唯一码</span>
                    <span style="width:5em">操作</span>
                </div>
                <div class="no_list page_no_list" v-show="rfList.length<1 && !hasHidden">扫描条码才有数据哦~</div>
                <div class="table_content page_table_content" v-show="rfList.length>0 && !hasHidden">
                    <div class="table_row" :style="{backgroundColor:i%2==0?'#FAFAFA':''}" v-for="(list,i) in rfList"
                        :key="i">
                        <span style="width:3em">{{rfList.length - i}}</span>
                        <span style="width:calc(100% - 8em)">{{list}}</span>
                        <span style="width:5em"><span class="remove_btn" @click="remove_rf(i)">移除</span></span>
                    </div>
                </div>
            </div>
            <div class="btn_box" v-show="!hasHidden">
                <!-- <button @click="reset(true)" class="reset_btn">重置</button> -->
                <button @click="showRf=true" class="btn_green">详情</button>
                <button @click="openRF" class="btn_green">{{!isOpenRFID?"扫":"关"}}RFID</button>
                <button @click="sure">确认收货</button>
            </div>
        </div>
        <div class="loading_bg" v-show="loading">
            <div class="loading">
                <p>{{loadingMsg}}<span> 。。。</span></p>
            </div>
        </div>
        <!-- rf扫描 -->
        <div class="page_bg" v-show="showRf" @click.stop="showRf=false"></div>
        <div class="page_box" v-show="showRf">
            <div class="detail_table">
                <div class="tab_title">
                    <span style="width:10%;min-width:2em">序号</span>
                    <span style="width:35%">箱号</span>
                    <span style="width:45%">SKU</span>
                    <span style="width:10%;min-width:2em">数量</span>
                </div>
                <div class="no_list" v-show="boxList.length==0" style="height:calc(100vh - 300px)"></div>
                <div class="table_content" v-show="boxList.length>0" style="height:calc(100vh - 300px)">
                    <div class="table_row table_data" :style="{backgroundColor:i%2==0?'#FAFAFA':''}"
                        v-for="(list,i) in boxList" :key="i">
                        <span style="width:10%;min-width:2em">{{i+1}}</span>
                        <span style="width:35%">{{list.ID}}</span>
                        <span style="width:45%">{{list.SKU}}</span>
                        <span style="width:10%;min-width:2em">{{list.QTY}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- 说明文档 -->
        <div class="page_bg" v-show="showHelp" @click="showHelp=false"></div>
        <div class="page_box explain_box" v-show="showHelp">
            <ul>
                <li v-for="(list,i) in helpJson" :key="i">
                    <h3 class="help_h3" v-if="list.isTitle" v-html="list.msg"></h3>
                    <span class="help_span" v-if="!list.isTitle" v-html="list.msg"></span>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="../assets/vue.js"></script>
<script src="../assets/axios.min.js"></script>
<script src="../assets/common.js"></script>
<!-- rfid引入 -->
<script type="text/javascript" src="http://tm.lilanz.com/oa/api/lilanzAppWVJBridge-0.1.6.min.js?ver=0.1"></script>
<script type="text/javascript" src="http://tm.lilanz.com/oa/project/rfid/js/rfid.js"></script>
<script>
    var app = new Vue({
        el: '#axsh',
        data: {
            bodyH: document.body.clientHeight,
            hasHidden: false,
            loading: false,
            userName: "",
            loadingMsg: "请稍等",
            explain: false,
            kw: "",
            xh: "",
            hz: "",
            info: {},
            boxList: [],//箱号列表
            showList: false,//是否展示箱号列表
            hasCheckKw: false,//是否检查过库位
            hasCheckXh: false,//是否检查过箱号
            skuList: [],//接口获得数据，将使用在扫描rf中，rf=sku+6位唯一值
            showRf: false,
            rfid: "",
            rfl: 0,//扫描的rf量
            rfList: [],//扫描的rf
            isOpenRFID: false,//是否开始rfid
            showHelp: false,
            helpJson: null
        },
        async mounted() {
            this.userName = await getUserData();
            this.$refs.kw.focus();
            this.helpJson = await getHelp("sh/axsh.json");
            window.onresize = () => { this.hasHidden = document.body.clientHeight < this.bodyH ? true : false };
            try {
                _JIAndroidObj.RFID_Init();
            } catch (error) {
                alert("初始化rfid功能失败")
            }
        },
        methods: {
            // 去除某rfid
            remove_rf(index) {
                this.rfList.splice(index, 1);
            },
            // 开启RFID接口
            openRF() {
                if (this.skuList.length < 1) { alert("请检查库位和箱号后，开启rfid扫描~"); return; }
                this.isOpenRFID = !this.isOpenRFID;
                try {
                    if (!this.isOpenRFID) {
                        console.log('停止')
                        _JIAndroidObj.RFID_Stop();
                    } else {
                        // _JIAndroidObj.RFID_Read(2, 8, 1, 0);//默认参数 2，8，1，0
                        _JIAndroidObj.RFID_Start(1000);//功率？
                        console.log('开始')
                    }
                } catch (error) {
                    alert(error);
                }

            },
            // 扫描rf,将数据存入表格,rf为接口获得sku+6位唯一值
            rfSave() {
                if (!this.rfid) {
                    alert('请扫描完整条码~');
                    return;
                }
                if (this.rfList.indexOf(this.rfid) != -1) {
                    alert(`${this.rfid}重复扫描~`);
                    this.rfid = "";
                    return;
                }
                if (this.rfList.length > 0) {
                    let rfListSku = this.rfList[0].substring(0, this.rfList[0].length - 6);
                    console.log(rfListSku);
                    if (rfListSku != this.rfid.substring(0, this.rfid.length - 6)) {
                        alert(`条码${this.rfid}：sku与其他sku不一致~`);
                        this.rfid = "";
                        return;
                    }
                }
                this.rfList.unshift(this.rfid);
                this.rfid = "";
            },
            // rf扫描处理
            rusultHandel(res) {
                if (this.rfList.indexOf(res) != -1) {//重复扫描
                    return;
                }
                if (this.rfList.length > 0) {
                    let rfListSku = this.rfList[0].substring(0, this.rfList[0].length - 6);
                    if (rfListSku != res.substring(0, res.length - 6)) {
                        return;
                    }
                }
                this.rfList.unshift(res);
            },
            // 执行检查库位，检查箱号，绑定箱列表（额外界面），确认绑定
            // 回车检查库位
            checkKw() {
                if (!this.userName) {
                    alert('未获取到用户信息，不允许收货');
                    return;
                }
                if (!this.kw) {
                    alert('请输入库位~');
                    return;
                }
                this.loading = true;
                let url = `${myConfig.api}sh/axsh/checkkw?storage=STORAGE_ZMC&kw=${this.kw}&user=${this.userName}`;
                axios.get(url)
                    .then((res) => {
                        this.loading = false;
                        if (res.data.errcode != 0) {
                            alert(`库位${this.kw}: ${res.data.errmsg}`);
                            return;
                        }
                        this.hasCheckKw = true;
                        this.$refs.xh.focus();
                    })
                    .catch((error) => {
                        this.loading = false;
                        alert(error);
                    });
            },
            // 检查箱号并获得货品数据
            checkXh() {
                if (!this.hasCheckKw || !this.kw) {
                    alert('请先检查库位~');
                    return;
                }
                if (!this.xh) {
                    alert('请输入完整箱号');
                    return;
                }
                this.loading = true;
                let url = `${myConfig.api}sh/axsh/checkbox?storage=STORAGE_ZMC&box=${this.xh}&user=${this.userName}`;
                axios.get(url)
                    .then((res) => {
                        if (res.data.errcode != 0) {
                            this.loading = false;
                            alert(`箱号${this.xh}: ${res.data.errmsg}`);
                            this.xh = "";
                            return;
                        }
                        this.hasCheckKw = true;
                        this.info = res.data.data;
                        // 获得货品数据
                        let listUrl = `${myConfig.api}sh/axsh/boxlist?storage=STORAGE_ZMC&box=${this.xh}&user=${this.userName}`;
                        axios.get(listUrl)
                            .then((resData) => {
                                this.loading = false;
                                if (resData.data.errcode != 0) {
                                    alert(`箱号${this.xh}: ${resData.data.errmsg}`);
                                    return;
                                }
                                this.boxList = resData.data.data;
                                this.hasCheckXh = true;
                                if (this.boxList.length < 1) {
                                    this.loadingMsg = "该箱号无列表";
                                    this.loading = true;
                                    setTimeout(() => {
                                        this.loading = false;
                                        this.loadingMsg = "请稍等";
                                    }, 1500);
                                }
                                for (let i = 0; i < this.boxList.length; i++) {
                                    this.skuList.push(this.boxList[i].SKU)
                                }
                                this.$refs.rfid.focus();
                            })
                            .catch((error) => {
                                this.loading = false;
                                alert(error);
                            });
                    })
                    .catch((error) => {
                        this.loading = false;
                        alert(error);
                    });

            },
            // 确认收货
            sure() {
                if (!this.hasCheckKw || !this.hasCheckXh) {
                    alert('请检查库位和箱号后再确定收货~');
                    return
                }
                if (this.rfList.length < 1) {
                    alert('请扫描RF标签再确认收货~');
                    return;
                }
                if (this.rfList.length != this.info.TOTALQTY) {
                    let r = confirm("预收量与实收量不一致，请确定是否收货");
                    if (r == false) return;
                }
                this.loading = true;
                let postData = `storage=STORAGE_ZMC&box=${this.xh}&kw=${this.kw}&user=${this.userName}&skulist=${this.rfList.toString()}`
                axios.post(`${myConfig.api}sh/axsh/done`, postData, {
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded;charset=UTF-8",
                    }
                }).then((res) => {
                    this.loading = false;
                    if (res.data.errcode != 0) {
                        alert(res.data.errmsg);
                        return;
                    }
                    this.loadingMsg = res.data.errmsg;
                    this.loading = true;
                    setTimeout(() => {
                        this.reset(false);
                    }, 1500);
                }).catch((error) => {
                    this.loading = false;
                    alert(error);
                });
            },
            reset(isBtn) {
                if (!this.kw) {
                    this.$refs.kw.focus();
                    return;
                }
                if (isBtn && this.kw) {
                    let r = confirm("重置数据将不会收货，请确定是否重置，重新扫描");
                    if (r == false) return;
                }
                this.$refs.kw.focus();
                this.kw = "";
                this.xh = "";
                this.hz = "";
                this.info = {};
                this.boxList = [];//箱号列表
                this.showList = false;//是否展示箱号列表
                this.hasCheckKw = false;//是否检查过库位
                this.hasCheckXh = false;//是否检查过箱号
                this.skuList = [];//接口获得数据，将使用在扫描rf中，rf=sku+6位唯一值
                this.showRf = false;
                this.rfid = "";
                this.rfl = 0;//扫描的rf量
                this.rfList = [];
                this.loading = false;
                this.loadingMsg = "请稍等";
            },
            hideVK(e, index) {
                if (index) { setCursor(index) };
                e.target.setAttribute('readonly', true);
                setTimeout(() => {
                    e.target.removeAttribute('readonly');
                }, 100);
            }
        }
    })
    function RFID_Scan_CallBack(status, msg) {
        if (status == '21' || status == '22') {
            return;
        }
        else if (status == '0' || status == '1' || status == '2' || status == '4') {
            let res = JSON.parse(msg);
            for (let i = 0; i < res.data.length; i++) {
                let sku = decode(res.data[i].epc);
                if (sku.length >= 12) {
                    app.rusultHandel(sku);//将转码后的suk数据处理
                }
            }
        }
    }

</script>

</html>