<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>托盘按箱收货</title>
    <link rel="stylesheet" type="text/css" href="../assets/reset.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="tpaxsh" class="all" v-cloak>
        <h1 @click="showHelp =true">托盘按箱收货 [{{userName}}] <sup>?</sup></h1>
        <div class="box flex_box">
            <div class="row row_small">
                <span class="problem three_em">库位:</span>
                <input v-model="kw" class="two_inp input_small" @keyup.enter="checkKw" @focus="hideVK" ref="kw"
                    @keyup="kw=kw.toUpperCase()" />
                <span class="problem three_em">托盘类:</span>
                <select v-model="tplx" @change="changeTplx" class="two_inp two_select">
                    <option :value="10">普通</option>
                    <option :value="20">鞋类</option>
                    <option :value="30">立库</option>
                    <option :value="40">其他</option>
                    <option :value="50">退货托盘</option>
                </select>
            </div>
            <div class="row row_small">
                <span class="problem three_em">托盘号:</span>
                <input v-model="tph" class="two_inp input_small" @keyup.enter="checkTph" @focus="hideVK($event,1)"
                    ref="tph" @keyup="tph=tph.toUpperCase()" />
                <span class="problem three_em" @click="showList=true">箱号:</span><input v-model="xh" class="two_inp"
                    @keyup.enter="checkXh" @focus="hideVK($event,2)" ref="xh" @keyup="xh=xh.toUpperCase()" />
            </div>
            <div class="row row_small">
                <span class="problem three_em">条码:</span><input v-model="rfid" class="two_inp input_small" ref="rfid"
                    @keyup.enter="rfSave" @focus="hideVK($event,3)" @keyup="rfid=rfid.toUpperCase()" />
                <span class="problem three_em">ASN号:</span><input v-model="info.ASN" class="two_inp no_inp input_small"
                    readonly ref="asn" />
            </div>
            <div class="detail_page flex_deta">
                <div class="base_info">
                    <div class="info_item">
                        <p>货主</p>
                        <p>{{info.HZ || "未知"}}</p>
                    </div>
                    <div class="line"></div>
                    <div class="info_item">
                        <p>码拖箱数</p>
                        <p>{{info.NUM>=0?info.NUM:"未知"}}</p>
                    </div>
                    <div class="line"></div>
                    <div class="info_item">
                        <p>箱数</p>
                        <p>{{info.XS>=0?info.XS:"未知"}}</p>
                    </div>
                    <div class="line"></div>
                    <div class="info_item">
                        <p>预收</p>
                        <p>{{info.YSL>=0?info.YSL:"未知"}}</p>
                    </div>
                    <div class="line"></div>
                    <div class="info_item">
                        <p>实收</p>
                        <p>{{rfList.length}}</p>
                    </div>
                    <div class="line"></div>
                    <div class="info_item">
                        <p>已扫量</p>
                        <p>{{smxs}}</p>
                    </div>
                </div>
                <div class="tab_title page_tab_title" v-show="!hasHidden"><span style="width:3em">序号</span><span
                        style="width:calc(100% - 8em)">唯一码</span><span style="width:5em">操作</span></div>
                <div class="no_list page_no_list" v-show="rfList.length<1 && !hasHidden">扫描条码才有数据哦~</div>
                <div class="page_table_content" v-show="rfList.length>0 && !hasHidden">
                    <div class="table_row" :style="{backgroundColor:i%2==0?'#FAFAFA':''}" v-for="(list,i) in rfList"
                        :key="i">
                        <span style="width:20%">{{rfList.length - i}}</span>
                        <span style="width:calc(100% - 8em)">{{list}}</span>
                        <span style="width:5em"><span class="remove_btn" @click="remove_rf(i)">移除</span></span>
                    </div>
                </div>
            </div>
            <div class="btn_box" v-show="!hasHidden">
                <!-- <button @click="reset(true)" class="reset_btn">重置</button> -->
                <button @click="showRf=true" class="btn_green">托盘详情</button>
                <button @click="openRF" class="btn_green">{{!isOpenRFID?"扫":"关"}}RFID</button>
                <button @click="resetBox" class="btn_green">收箱</button>
                <button @click="sure">确认收货</button>
            </div>
        </div>
        <!-- rf扫描 -->
        <div class="page_bg" v-show="showRf" @click.stop="showRf=false"></div>
        <div class="page_box" v-show="showRf">
            <div class="page_content">
                <div class="tables">
                    <ul>
                        <li class="table_row tab_title_page">
                            <span style="width:40px">序号</span>
                            <span style="width:140px">箱号</span>
                            <span style="width:130px">ASN号</span>
                            <span style="width:150px">sku</span>
                            <span style="width:40px">数量</span>
                            <span style="width:40px">实收</span>
                        </li>
                        <li class="table_row" :style="{backgroundColor:i%2==0?'#FAFAFA':''}" v-for="(list,i) in boxList"
                            :key="i">
                            <span style="width:40px">{{i+1}}</span>
                            <span style="width:140px">{{list.XH}}</span>
                            <span style="width:130px">{{list.ASN}}</span>
                            <span style="width:150px">{{list.HH}}</span>
                            <span style="width:40px">{{list.NUM}}</span>
                            <span style="width:40px">{{list.SSL}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="loading_bg" v-show="loading">
            <div class="loading">
                <p>{{loadingMsg}}<span> 。。。</span></p>
            </div>
        </div>
        <!-- 说明文档 -->
        <div class="page_bg" v-show="showHelp" @click="showHelp=false"></div>
        <div class="page_box explain_box" v-show="showHelp">
            <ul>
                <li v-for="(list,i) in helpJson" :key="i">
                    <h3 class="help_h3" v-if="list.isTitle" v-html="list.msg"></h3>
                    <span class="help_span" v-if="!list.isTitle" v-html="list.msg"></span>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="../assets/vue.js"></script>
<script src="../assets/axios.min.js"></script>
<script src="../assets/common.js"></script>
<!-- rfid引入 -->
<script type="text/javascript" src="http://tm.lilanz.com/oa/api/lilanzAppWVJBridge-0.1.6.min.js?ver=0.1"></script>
<script type="text/javascript" src="http://tm.lilanz.com/oa/project/rfid/js/rfid.js"></script>
<script>
    var app = new Vue({
        el: '#tpaxsh',
        data: {
            bodyH: document.body.clientHeight,
            loading: false,
            userName: "",
            loadingMsg: "请稍等",
            explain: false,
            kw: "",
            tplx: 10,
            tph: "",
            xh: "",
            hasCheckKw: false,//是否检查过库位
            boxList: [],//箱号列表
            showList: true,//箱号列表是否展示
            info: {},
            hasHidden: false,
            info: {},//基本数据
            skuList: [],//接口获得数据，将使用在扫描rf中，rf=sku+6位唯一值
            showRf: false,
            rfid: "",
            rfList: [],//扫描的rf
            smxs: 0,
            isOpenRFID: false,
            showHelp: false,
            helpJson: null
        },
        async mounted() {
            this.userName = await getUserData();
            this.$refs.kw.focus();
            this.helpJson = await getHelp("sh/tpaxsh.json");
            window.onresize = () => { this.hasHidden = document.body.clientHeight < this.bodyH ? true : false };
            try {
                _JIAndroidObj.RFID_Init();
            } catch (error) {
                alert("初始化rfid功能失败")
            }
        },
        methods: {
            // 去除某rfid
            remove_rf(index) {
                this.rfList.splice(index, 1);
            },
            // 开启RFID接口
            openRF() {
                if (!this.hasCheckKw || !this.tph || !this.xh) { alert("请检查库位、托盘号、箱号后，开启rfid扫描~"); return; }
                this.isOpenRFID = !this.isOpenRFID;
                try {
                    if (!this.isOpenRFID) {
                        _JIAndroidObj.RFID_Stop();
                    } else {
                        _JIAndroidObj.RFID_Start(1000);//功率
                    }
                } catch (error) {
                    alert(error);
                }

            },
            // 重新再扫箱和rf
            resetBox() {
                if (!this.hasCheckKw || !this.xh) { alert("请按照步骤操作~"); return; }
                if (this.rfList.length != this.info.YSL) {
                    let r = confirm("预收量与实收量不一致，请确定是否保存");
                    if (r == false) return false;
                }
                this.loading = true;
                let postData = `storage=STORAGE_ZMC&tpcode=${this.tph}&kw=${this.kw}&box=${this.xh}&user=${this.userName}&skulist=${this.rfList.toString()}`;
                return axios.post(`${myConfig.api}sh/tpxsh/addsku`, postData, {
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded;charset=UTF-8",
                    }
                }).then((res) => {
                    this.loading = false;
                    if (res.data.errcode != 0) {
                        alert(`箱号${this.xh}: ${res.data.errmsg}`);
                        return false;
                    }
                    this.xh = "";
                    this.rfList = [];
                    this.smxs++;
                    Object.assign(this.info, { HZ: "", YSL: -1, XS: -1, ASN: "" });
                    this.$refs.xh.focus();
                    if (this.smxs + this.info.XS == this.info.NUM) {
                        alert(`箱扫描完毕:${this.info.NUM}，请确认收货~`);
                    }
                    return true;
                }).catch((error) => {
                    this.loading = false;
                    alert(error);
                    return false;
                });
            },
            // 扫描rf,将数据存入表格,rf为接口获得sku+6位唯一值
            rfSave() {
                if (!this.rfid) {
                    alert('请扫描完整条码~');
                    return;
                }
                if (this.rfList.indexOf(this.rfid) != -1) {
                    alert(`${this.rfid}重复扫描~`);
                    this.rfid = "";
                    return;
                }
                if (this.rfList.length > 0) {
                    let rfListSku = this.rfList[0].substring(0, this.rfList[0].length - 6);
                    console.log(rfListSku);
                    if (rfListSku != this.rfid.substring(0, this.rfid.length - 6)) {
                        alert(`条码${this.rfid}：sku与其他sku不一致~`);
                        this.rfid = "";
                        return;
                    }
                }
                this.rfList.unshift(this.rfid);
                this.rfid = "";
            },
            // rf扫描处理
            rusultHandel(res) {
                if (this.rfList.indexOf(res) != -1) {//重复扫描
                    return;
                }
                if (this.rfList.length > 0) {
                    let rfListSku = this.rfList[0].substring(0, this.rfList[0].length - 6);
                    if (rfListSku != res.substring(0, res.length - 6)) {
                        return;
                    }
                }
                this.rfList.unshift(res);
            },
            hideVK(e, index) {
                if (index) { setCursor(index) };
                e.target.setAttribute('readonly', true);
                setTimeout(() => {
                    e.target.removeAttribute('readonly');
                }, 100);
            },
            // 执行检查库位，检查箱号，绑定箱列表（额外界面），确认绑定
            // 回车检查库位
            checkKw() {
                if (!this.kw) {
                    alert('请输入库位~');
                    return;
                }
                this.loading = true;
                let url = `${myConfig.api}sh/tpxsh/checkkw?storage=STORAGE_ZMC&kw=${this.kw}&user=${this.userName}`;
                axios.get(url)
                    .then((res) => {
                        this.loading = false;
                        if (res.data.errcode != 0) {
                            alert(`库位${this.kw}: ${res.data.errmsg}`);
                            this.kw = "";
                            return;
                        }
                        this.$refs.tph.focus();
                        this.hasCheckKw = true;
                    })
                    .catch((error) => {
                        this.loading = false;
                        alert(error);
                    });
            },
            // 更换托盘类型
            changeTplx(val) {
                console.log('更换类型' + val);
            },
            // 回车托盘号，并且将自库位，更换类型，托盘号都设置为不能选择
            checkTph() {
                if (!this.hasCheckKw) {
                    alert('请先检查库位~');
                    return;
                }
                if (!this.tph) {
                    alert('请输入完整托盘号~');
                    return;
                }
                this.loading = true;
                let url = `${myConfig.api}sh/tpxsh/checktp?storage=STORAGE_ZMC&tpcode=${this.tph}&tptype=${this.tplx}&user=${this.userName}`;
                axios.get(url)
                    .then((res) => {
                        this.loading = false;
                        if (res.data.errcode != 0) {
                            alert(`托盘号${this.tph}: ${res.data.errmsg}`);
                            this.tph = "";
                            return;
                        }
                        this.$refs.xh.focus();
                        this.info = res.data.data;
                        let listUrl = `${myConfig.api}sh/tpxsh/boxlist?storage=STORAGE_ZMC&tpcode=${this.tph}&user=${this.userName}`;
                        axios.get(listUrl)
                            .then((res) => {
                                if (res.data.errcode != 0) {
                                    alert(`托盘号${this.tph}: ${res.data.errmsg}`);
                                    this.tph = "";
                                    return;
                                }
                                console.log(res.data.data);
                                this.boxList = res.data.data.boxList;
                                for (let i = 0; i < this.boxList.length; i++) {
                                    this.skuList.push(this.boxList[i].HH);
                                }
                                this.$refs.xh.focus();
                            })
                            .catch((error) => {
                                alert(error);
                            });

                    })
                    .catch((error) => {
                        this.loading = false;
                        alert(error);
                    });
            },
            // 箱号回车
            checkXh() {
                if (this.smxs + this.info.XS == this.info.NUM) {
                    alert(`箱扫描完毕:${this.info.NUM}，不允许扫描箱号~`);
                    this.xh = "";
                    return;
                }
                this.loading = true;
                let postData = `storage=STORAGE_ZMC&tpcode=${this.tph}&kw=${this.kw}&box=${this.xh}&user=${this.userName}`;
                axios.post(`${myConfig.api}sh/tpxsh/checkbox`, postData, {
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded;charset=UTF-8",
                    }
                }).then((res) => {
                    this.loading = false;
                    if (res.data.errcode != 0) {
                        alert(`箱号${this.xh}: ${res.data.errmsg}`);
                        this.xh = "";
                        return;
                    }
                    Object.assign(this.info, res.data.data);
                    this.$refs.rfid.focus();
                }).catch((error) => {
                    this.loading = false;
                    alert(error);
                });
            },
            // 确定收货
            async sure() {
                if (!this.hasCheckKw) {
                    alert('请检查库位后再确定收货~');
                    return
                }
                let msg = null;
                if (this.xh) {
                    msg = await this.resetBox();
                }
                if (this.smxs + this.info.XS < this.info.NUM) {
                    let r = confirm(`当前托盘扫描箱数为小于码拖箱数请确认是否收货~`);
                    if (r == false) return;
                }
                this.loading = true;
                let url = `${myConfig.api}sh/tpxsh/done?storage=STORAGE_ZMC&tpcode=${this.tph}&user=${this.userName}`;
                axios.get(url)
                    .then((res) => {
                        this.loading = false;
                        if (res.data.errcode != 0) {
                            alert(res.data.errmsg);
                            return;
                        }
                        this.loadingMsg = res.data.errmsg;
                        this.loading = true;
                        setTimeout(() => {
                            this.reset(false);
                        }, 1500);
                    })
                    .catch((error) => {
                        this.loading = false;
                        alert(error);
                    });
            },
            reset(isBtn) {
                if (!this.kw) {
                    this.$refs.kw.focus();
                    return;
                }
                if (isBtn && this.kw) {
                    let r = confirm("重置数据将不会收货，请确定是否重置，重新扫描");
                    if (r == false) return;
                }
                this.$refs.kw.focus();
                this.kw = "";
                this.tplx = 10;
                this.tph = "";
                this.xh = "";
                this.info = {};
                this.boxList = [];//箱号列表
                this.showList = false;//是否展示箱号列表
                this.hasCheckKw = false;//是否检查过库位
                this.skuList = [];//接口获得数据，将使用在扫描rf中，rf=sku+6位唯一值
                this.rfid = "";
                this.smxs = 0;
                this.rfList = [];
                this.loading = false;
                this.loadingMsg = "请稍等";
            },
        }
    })
    // rf功能扫码
    function RFID_Scan_CallBack(status, msg) {
        if (status == '21' || status == '22') {
            return;
        }
        else if (status == '0' || status == '1' || status == '2' || status == '4') {
            let res = JSON.parse(msg);
            for (let i = 0; i < res.data.length; i++) {
                let sku = decode(res.data[i].epc);
                if (sku.length >= 12) {
                    app.rusultHandel(sku);//将转码后的suk数据处理
                }
            }
        }
    }
</script>

</html>